.ImageSection {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  width: 100%;
  .img {
    min-width: 200px;
    width: 38%;
    margin: 0 1rem 1rem 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .about-info {
    width: 60%;
    margin-bottom: 5rem;
    h4 {
      font-size: 2rem;
    }
    p {
      margin: 0.5rem 0;
    }
    .about-details {
      display: flex;
      width: 100%;
      small {
        flex: 30%;
        font-size: 0.75rem;
        padding: 0;
        margin: 0;
      }
    }
  }
}
.btn {
  padding: 0.75rem 2rem;
  cursor: pointer;
  background-color: #037FFF;
  outline: none;
  border: none;
  margin-top: 1rem;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  &::after {
    content: "";
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #037FFF;
  }
}
.btn:hover {
  background-color: #03afff;
}