.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.contact-sect {
  flex: 0 0 40%;
  margin: 1rem 1.5rem 1rem 0;
  width: 40%;
}
.map-sect {
  flex: 0 0 45%;
  iframe {
    width: 30rem;
    height: 25rem;
    min-width: 20rem;
  }
}
.contact {
  background-color: #191D2B;
  margin: 1rem 0;
  padding: 1rem 2rem;
}
.contact:hover {
  color: #037FFF;
}